/* teg body start */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

ul {
  list-style-type: none;
}

body .text-web {
  color: #4d5ae5;
}

h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* teg body finish */

/* teg header start */
header a {
  text-decoration: none;
}

nav .logo {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.54px;
}

nav .navigation a {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

nav .navigation a:hover {
  color: #404bbf;
}

nav .navigation .navigation-studio:active {
  color: #404bbf;
}

.address .address-contact a {
  color: #434455;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.address .address-contact a:hover {
  color: #404bbf;
}
/* teg header finish */

/* teg main start */
/* section head start */
main .head {
  background-color: #2e2f42;
  text-align: center;
}

h1 {
  font-size: 56px;
  color: white;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

button:hover {
  background-color: #404bbf;
}
/* section head finish */
/* teg main finish */

/* teg footer start */
footer {
  background-color: #2e2f42;
}

footer .footer-link {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  text-decoration: none;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

footer .footer-paragraph {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* teg footer finish */
